<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>912217817262-sd1ctv0up2eog4pojof3fjc9l4efg750.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.912217817262-sd1ctv0up2eog4pojof3fjc9l4efg750</string>
	<key>API_KEY</key>
	<string>AIzaSyCuvTVnjWUPz0xd2cn9OE1XThloUUbMJkE</string>
	<key>GCM_SENDER_ID</key>
	<string>912217817262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bboitech.nexSpot</string>
	<key>PROJECT_ID</key>
	<string>nex-spot-app</string>
	<key>STORAGE_BUCKET</key>
	<string>nex-spot-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:912217817262:ios:33fe1e6fc4ed83ceacad3f</string>
</dict>
</plist>